{% extends 'base.html' %}

{% block title %}
Підтримка та пожертви
{% endblock %}

{% block support %}

<div class="base-content-support">

    <div class="header-support type">
        <a>Підтримка та пожертви</a>
    </div>

    <hr style="margin: 40px 0 40px 0;">

    <div class="support-content type">

        <div class="post-detail">
            <h2>Вітаю!<br> Сьогодні ми хочемо попросити вашу допомогу у розвитку Your Library Proposes.</h2>
            <p><strong>Your Library Proposes</strong> - це місце, де відбувається вільний розвиток. Ми розуміємо, що багато хто може проігнорувати це повідомлення. Але якщо вам подобається користуватися Your Library Proposes, будь ласка, подивіться можливість пожертвувати ту суму, яку ви готові виділити на підтримку та розвиток нашого улюбленого сайту.<br>Нижче ви знайдете варіанти, як ви можете нам допомогти.</p>
            <p>Дякую із турботою,<br> команда Your Library Proposes</p>
            <p>Є два варіанти: переказ з картки на крипто-гаманець та переказ на крипто-гаманець безпосередньо:</p>
            <h3>Якщо ви можете переказати криптовалюту безпосередньо, виберіть будь-яку валюту, яка вам зручна, і перекажіть бажану суму:</h3>
            <ol style="overflow-wrap: break-word;">
                <li><strong>USDT (Tether TRC20)</strong> – <code>0xf488822376ab9d1426741a214AFe89d4DA013a19</code></li>
                <li><strong>Bitcoin (BTC)</strong> – <code>bc1q2e9j30nxjkatumfg87egwd08v75f3j8hn422d9</code>
                </li><li><strong>Ethereum (ETH)</strong> – <code>0xf488822376ab9d1426741a214AFe89d4DA013a19</code></li>
            </ol>
            <h3>Якщо вам зручніше здійснити переказ карткою, то нижче інструкція, як це зробити (це абсолютно нескладно):</h3>
            <ol style="overflow-wrap: break-word;">
                <li>Заходьте за посиланням <a style="color: blue;" href="https://mine.exchange" rel="noopener noreferrer" target="_blank">https://mine.exchange</a></li>
                <li>Вибираєте, звідки буде здійснений переказ – будь-який банк</li>
                <li>Вводите суму переказу</li>
                <li>Вибираєте, в яку валюту будете переказувати – <strong>Tether TRC20 USDT</strong></li>
                <li>Натискаєте "Обміняти"</li>
                <li>Далі відкриється сторінка, на якій буде обраний ваш банк та сума. У графі "Віддаєте" в поле "З карти" вводите номер своєї картки</li>
                <li>Переконайтеся, що у графі "Отримуєте" стоїть<strong>Tether TRC20 USDT</strong></li>
                <li>У полі "На гаманець" ви вводите номер нашого гаманця:<br> <code>0xf488822376ab9d1426741a214AFe89d4DA013a19</code></li>
                <li>Далі вводите свій електронний лист і відповідаєте на питання антиспаму (простий арифметичний приклад)</li>
                <li>Натискайте кнопку "Обміняти"</li>
            </ol>
            <p></p><center><p></p>
            <h3>Коли побачите напис "Платіж відправлено", це означає, що все вийшло.<p>

            </p><p>Дякуємо за підтримку! ♥️<br> Готові старатися для вас!</p>
            </h3><p></p></center><p></p>
            <p>Якщо в у вас щось не виходить або є питання – <a href="" rel="noopener noreferrer" target="_blank">задавайте в чаті в телеграмі.</a>.</p>
        </div>

    </div>


</div>


{% endblock support %}
