{% extends 'base.html' %}

{% block title %}
Правовласникам
{% endblock %}

{% block support %}
<div class="base-content-support type">
    <div class="base-content-categ type">

    <div class="text-hov">Правовласникам</div>
    <hr style="margin-top: 20px;">
    </div>

    <div class="support-content">

    <p >Інтернет-ресурс Your Library Proposes здійснює діяльність відповідно до законодавства України,
        що стосується захисту інформації та авторських прав.</p>

    <p>Розміщений на Your Library Proposes контент – це виключно матеріал, що знаходиться у вільному доступі до мережі Інтернет
        як для перегляду, так і для завантаження. Матеріали, доступні в мережі Інтернет, збираються та розміщуються в
        каталозі в автоматичному режимі. Адміністрація сайту не здійснює контроль над контентом, що додається.</p>

    <p>Також адміністрація сайту жодним чином не займається публікацією не ліцензійного контенту, незаконно вкраденого
        і під захистом авторських прав. Автоматизована система додавання книг публікує лише матеріал
        з відкритих джерел, що знаходиться у вільному доступі для будь-якого інтернет-користувача.</p>

    <p>Ресурс Your Library Proposes завжди готовий до співпраці з правовласниками. Якщо Ви виявили, що Ваші виняткові
        права на об'єкти авторської власності якось порушуються за допомогою використання цього ресурсу,
        адміністрація сайту готова сприяти Вам та заблокувати на Your Library Proposes відповідний контент.</p>

    <p>Якщо Ваші виняткові права на об'єкти авторської власності порушуються будь-яким чином
        використанням даного ресурсу (розміщення інформації, захищеної авторським правом), прохання зв'язатися з
        адміністрацією сайту через email yourlibraryproposes@outlook.com, заздалегідь пред'явивши або пославшись на всі чинні
        документи.</p>
    </div>
</div>



{% endblock support %}
